body{
    background: rgba(231, 231, 231, 0.76);
    margin: 0;
}
.navigation{
    height: 6.94vw;
}
.navigation ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    float: right;
}
.navigation li{
    display: inline-block;
}
.navigation a{
    text-decoration: none;
    display: block;
}
.nav-item{
    display: flex;
    justify-content: space-around;
}
.none{
    color: #000; 
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.12px;
    line-height: 124.49%;
    font-style: normal;
    font-weight: 500;
    width: 14.81vw; 
    font-size: 1.125rem; 
} 
/* .side-width{
    width: 13vw;
} */
.button-width{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #000;
    font-weight: 600;
    font-size: 1.25rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    padding-bottom: 7%;
    padding-top: 5%;
}
.line-right{
    font-family: 'Red Hat Display', sans-serif;
}
.helping{
    position: relative;
    display: inline-block;
    color: #000;
font-family: 'Red Hat Display', sans-serif;
padding-left: 12%;;
font-size: 1.625rem;
font-style: normal;
font-weight: 400;
line-height: 124.49%; 
letter-spacing: 0.2px;
margin: 0;
}  
.helping::before{
    position: absolute;
    width: 57px;
    height: 1px;
    content: " ";
    left: 13%;
    transform: translate(-100%, -50%);
    top: 50%;
    background-color: #000;
}  
.providing{
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
font-size: 3.75rem;
font-style: normal;
font-weight: 900;
line-height: 124.49%; 
letter-spacing: 0.48px;
margin: 0;
}
.passage{
    color: #000;
text-align: justify;
font-family: 'Gill Sans', sans-serif;
font-size: 1.125rem;
text-align: left;
font-style: normal;
font-weight: 400;
line-height: 126.844%; 
}
.button-height{
    height: 5vh;
}
.consult{
    width: 170px;
    height: 50px;
    font-size: 1.25rem;
    border-radius: 50px;
    border: 1px #000;
    background: #000;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
    color: #fff;
    font-family: 'Gill Sans', sans-serif;
}
.section1-left {
    padding-left: 14%;
}
.section1-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-rect {
    width: 300px; 
    position: relative;
    height: 465px; 
}
.inner-rect {
    width: 250px; 
    height: 415px;
    position: absolute; 
}
.ellipse-size{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 545px;
    right: 266px;
}
/* .all{
    width: 100px;
    height: 100px;
} */

/* boxs section */

.business{
    color: #0E0404;
    font-family: 'Gill Sans', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 105.99%; 
letter-spacing: 0.37px;
margin: 0;
}
.outer-business1{
    padding-left: 14%;
}
/* .outer-business2{
    padding-right: 120.688px;
} */
.slide-show{
    display: flex;
    grid-gap: 40px;
}
.box{
    z-index: 1;
    transition: z-index 0.3s, transform 0.3s;
    width: 230px;
    height: 175px;
    border-radius:25px;
border: 2px solid #FFF;
background: linear-gradient(135deg, rgba(235, 235, 235, 0.20) 0%, rgba(255, 255, 255, 0.20) 66.71%);
box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.10);
}
.box:hover{
    z-index: 2;
    transform: scale(1.1);
}
.support{
    color: #000;
font-family: Gill Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 113.49%; 
}
.rahul{
    display: flex;
    float: right;
}

/* providing section */

.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    background-color: #E3E3E3;
}
.rect-item{
    display: flex;
    padding: 13% 0 13% 0;
    justify-content: center;
    align-items: center;
}
.rect1{
    width: 215px; 
    height: 330px; 
    position: relative;
    
}
.rect2{
    width: 180px; 
    height: 295px; 
    position: absolute; 
}
.rect3{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 239px;
    top: 1317px;
}
.provide-height{
    padding: 5%;
}
.features{
    display: flex;
    float: right;
}
.right-move{
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 124.49%;
letter-spacing: 0.2px;
position: relative;
display: inline-block;
padding-left: 12%;
}
.right-move::before{
    position: absolute;
    width: 59px;
    height: 1px;
    content: " ";
    left: 19%;
    transform: translate(-100%, -50%);
    top: 50%;
    background-color: #000;
    
}  
.features1{
    float: left;
}
.inside-features1{
    display: flex;
    align-items: center;
}
.inside-features2{
    display: flex;
    align-items: center;
}
.f-1{
    color: #000;
font-family: Gill Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 124.49%;
letter-spacing: 0.16px;
}
.svg{
    width: 5.256vw;
    height: 8.333vh;
}


/* staffing,recruiting and solutions section */

.grid-selection{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    padding-top: 4%;
    padding-bottom: 4%;
    background: linear-gradient(45deg, rgba(238, 216, 203, 0.35), rgba(238, 216, 203, 0.35));
}   
.inside-recruit{
    padding-left: 18%;
}
.values{
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.875rem;
font-style: normal;
font-weight: 900;
line-height: 130.49%; 
letter-spacing: 0.32px;
}
.needs{
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5625rem;
font-style: normal;
font-weight: 900;
line-height: 130.49%; 
letter-spacing: 0.2px;
margin: 0;
}
.message{
    color: #000;
text-align: justify;
font-family: Gill Sans;
    font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120.844%;
margin: 0;
}
.main-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: end;
    background-image: url(images/Ellipse\ 8.png);
    background-repeat: no-repeat;
    background-position: 150px 200px;
    background-size: 23%;
}
.staffing-box{
    width: 160px;
    height: 220px;
    border-radius: 35px;
    margin-left: 54px;
border: 1px solid #FFF;
background: linear-gradient(135deg, rgba(235, 235, 235, 0.20) 0%, rgba(255, 255, 255, 0.20) 66.71%);
backdrop-filter: blur(35px);
text-align: center;
}
.staff-image{
    height: 90px;
    width: 90px;
}
.recruiting-box{
    width: 230px;
    height: 275px;
    border-radius: 35px;
border: 1px solid #FFF;
background: linear-gradient(135deg, rgba(235, 235, 235, 0.20) 0%, rgba(255, 255, 255, 0.20) 66.71%);
backdrop-filter: blur(35px);
text-align: center;
}
.recruit-image{
    width: 135px;
    height: 135px;
}
.solution-image{
    width: 150px;
    height: 150px;
    padding-left: 5%;
}
.solutions-box{
    width: 320px;
    height: 200px;
    display: flex;
    grid-column-start: 2;
    align-items: center;
    border-radius: 35px;
border: 1px solid #FFF;
background: linear-gradient(135deg, rgba(235, 235, 235, 0.20) 0%, rgba(255, 255, 255, 0.20) 66.71%);
backdrop-filter: blur(35px);
text-align: center;
}
.common-font{
    color: #000;
font-family: Gill Sans;
font-size: 1.5625rem;
font-style: normal;
font-weight: 600;
line-height: 130.49%; 
letter-spacing: 1px;
margin: 0;
}.read-more{
    color: #000;
font-family: Gill Sans;
font-size: 0.8125rem;
font-style: normal;
font-weight: 400;
line-height: 151.844%; 
margin: 0;
}
.arrow{
    color: blue;
    font-size: 1.5rem;
}



/* cards section */

.client{
    position: relative;
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 124.49%; 
letter-spacing: 0.12px;
text-align: center;
margin: 0;
padding-top: 4%;
    padding-bottom: 1%;
}
.client::before{
    position: absolute;
    width: 50px;
    height: 1px;
    content: " ";
    transform: translate(-100%, -50%);
    top: 72%;
    background-color: #000;
    left: 43%;
}
.client-height1{
    height:  7.5vh;
}
.path{
    color: #000;
text-align: center;
font-family: Gill Sans;
    font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 130.49%; 
letter-spacing: 0.25px;
margin: 0;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E3E3E3;
    padding-bottom: 6%;
}
.rahul-size{
    object-fit: cover;
    border-radius: 84%;
    border-style: solid;
    border-color: #FFF;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.40));
}
.para{
    color: #000;
text-align: justify;
font-family: Gill Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 120.844%; 
letter-spacing: 1px;
}
.contact1{
    color: #0E0404;
font-family: Gill Sans;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 105.99%; 
letter-spacing: 0.27px;
margin: 0;
}
.contact2{
    color: #000;
font-family: Gill Sans;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 105.99%; 
letter-spacing: 0.2px;
margin: 0;
}
.rahul1{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
.r1{
    display: grid;
    float: right;
}
.rahul-width1{
    width: 29.833vw;
}


 /* footer section */

.small{
    width: 140px;
    height: 40px;
}
.footer{
    font-family: 'Cabin', sans-serif;
}
.inside-foot{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 30px;
    align-items: baseline;
}
.c1{
    color: #000;
    line-height: 160%;
}
.lucus{
    font-weight: bold;
    font-size: 30px;
    color: #000;
    letter-spacing: 0.50px;
    margin: 0;
    padding-bottom: 1rem;
}
.text-bold{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin: 0;
    padding-bottom: 1rem;
}
.contact{
    color: #676464;
    line-height: 150.99%; /* 26.498px */
    letter-spacing: 0.25px;
}
.horizontal{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.policies{
    font-family: 'Cabin', sans-serif;
}
.inside-policies{
    display: flex;
    justify-content: space-between;
    margin: 20px 99.688px 20px 99.688px;
}
.p1{
    color: #626262;
}
.input{
    font-size: 13px;
    border: solid #FFF;
    outline: none;
    background-color: #ffffff;
    width: 200px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 33px;
}
.create{
    font-size: 13px;
    border: solid #000;
    outline: none;
    background-color: #000;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 33px;
    color: #FFF;
}



/* navigation bar media quries */


@media only screen and (max-width: 767px) {
    .navigation {
        height: 60px; 
    }
    .navigation ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        float: right;
    }
    .navigation li{
        display: inline-block;
        margin: 10px;
    }
    .navigation a{
        text-decoration: none;
        display: block;
    }
    .nav-item{
        display: flex;
        justify-content: space-around;
    }
    .nav-high{
        height: 30px;
    }
    .none{
        color: #000; 
        letter-spacing: 0.12px;
        font-weight: 500;
        width: 14.81vw; 
        font-size: 1.125rem; 
        width: 100%;
    }
    .button-width{
        font-weight: bold;
    } 
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .navigation {
        height: 70px; 
    }
    .navigation li{
        margin: 20px;
    }
    .none{
        width: 100%;
    }
}
@media only screen and (min-width: 1024px) {
    .navigation {
        height: 80px; 
    }
}

@media (min-width: 375px) and (max-width: 568px){
    .navigation {
      height: auto; 
    }
    .navigation ul {
      float: none;
      justify-content: center; 
      flex-wrap: wrap; 
    }
    .navigation li {
      margin-bottom: 10px;
      margin: 5px; 
    }
    .none {
      width: 100%;
      font-size: 15px;
    }
    .button-width{
        width: 80px;
        height: 30px;
    }
  }
  

/* section1  */

    

@media screen and (max-width: 767px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
    .slide-show {
        flex-direction: column;
        align-items: center;
    }
    .business-item{
        align-items: center;
    }
  }
@media screen and (max-width: 568px){
    .helping{
        font-size: 1.5rem;
    }
    .providing{
        font-size: 3.4rem;
    }
    .slide-show{
        align-items: center;
    }
    
}
@media screen and (min-width: 375px) and (max-width: 500px){
    .helping{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .passage{
        font-size: 0.85rem;
    }
    .providing{
        font-size: 2.35rem;
    }
}





/* features media queries */





/* media queries for staff, recruiting and solutions section */

@media screen and (max-width: 768px) {
    .grid-selection {
        grid-template-columns: 1fr; 
    }
    .inside-recruit {
        padding-left: 5%; 
    }
    .staffing-box,
    .recruiting-box,
    .solutions-box {
        margin-left: 0; 
        margin-right: 0; 
    }
    .main-section {
        flex-direction: column; 
        background-image: url(images/Ellipse\ 8.png);
    background-repeat: no-repeat;
    background-position: 115px 190px;
    background-size: 30%;
    }
}
@media screen and (min-width: 375px) and (max-width: 568px){
    .staffing-box{
        width: 140px;
        height: 180px;
    }
    .staff-image{
        width: 60px;
        height: 60px;
    }
    .recruiting-box{
        width: 200px;
        height: 240px;
    }
    .recruit-image{
        width: 105px;
        height: 105px;

    }
    .solutions-box{
        width: 210px;
        height: 150px
    }
    .solution-image{
        width: 95px;
        height: 95px;
    }
}





  

/* cards media query */


/* Media query for devices with a maximum width of 767px (e.g., iPhones) */
@media (max-width: 767px) and (max-width: 1024px){
    .cards {
      flex-direction: column;
      align-items: center;
    }
    .rahul1 {
      margin-bottom: 10px;
    }
    .client::before {
      left: 38%;
    }
  }
  
  /* Media query for devices with a minimum width of 768px (e.g., tablets) */
  @media (min-width: 768px) {
    .cards {
      justify-content: space-around;
    }
    .rahul-width1 {
      width: auto;
    }
    .client::before {
        left: 43%;
      }
  }
  


/* footer media query */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .lucus {
        font-size: 26px;
    }
    .text-bold {
        font-size: 18px;
    }
    .input {
        width: 180px;
    }
    .create {
        width: 90px;
    }
}

/* Media Query for Large Laptops and Desktops */
@media only screen and (min-width: 1024px) {
    .lucus {
        font-size: 32px;
    }
    .text-bold {
        font-size: 22px;
    }
}
@media screen and (min-width: 568px) and (max-width: 768px){
    .inside-foot {
        flex-direction: column;
        align-items: center;
    }
    .column {
        margin-bottom: 20px;
    }
    .text-bold {
        text-align: center;
    }
    .inside-policies{
        flex-direction: column;
    align-items: center;
    }
    .input {
        width: 100%;
        margin-bottom: 5%;
    }
    .create {
        width: 100%;
    }
}
/* Media query for iPhone devices */
@media only screen and (min-width: 375px) and (max-width: 568px) {
    .inside-foot {
        flex-direction: column;
        align-items: center;
    }
    .column {
        margin-bottom: 20px;
    }
    .text-bold {
        text-align: center;
    }
    .input {
        width: 100%;
        margin-bottom: 5%;
    }
    .create {
        width: 100%;
    }
    .inside-policies{
        flex-direction: column;
    align-items: center;
    }
}




/* feature section */

@media only screen and (max-width: 568px){
    .grid-1 {
        grid-template-columns: 1fr;
    }
    
}
@media only screen and (max-width: 480px){
    .grid-1 {
        grid-template-columns: 1fr;
    }
}